div {
  width: 300px;
  height: 80px;
  background: #00ff00;
  color: black;
  font-family: Arial;
  font-weight: 500;
  margin:10px;
}
.nav {
   
}
.menu {
	width: 300px;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    font-family: arial;
}
@keyframes swing {
  15% {
    transform: translateX(15px);
  }
  30% {
    transform: translateX(45px);
  }
  50% {
    transform: translateX(65px);
  }
  65% {
    transform: translateX(80px);
  }
  80% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(150px);
  }
}

.nav:hover {
  animation: swing 0.5s ease;
  animation-iteration-count: 1;
  animation-duration: 3s;

}